<div class="con-right">
	<div class="contents">
		
	</div>
</div>
<script src="/syntaxhighlighter_3.0.83/scripts/shCore.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushJScript.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushCss.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushJava.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushPhp.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushPython.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushSql.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushXml.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushSass.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushPowerShell.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushBash.js"></script>
<script src="/syntaxhighlighter_3.0.83/scripts/shBrushCpp.js"></script>
<link rel="stylesheet" href="/syntaxhighlighter_3.0.83/styles/shCoreDefault.css">
<link href="/css/index.css" rel="stylesheet" type="text/css">

<script type="text/javascript">
	function content(text){
		return '<scr'+'ipt>'+
					'SyntaxHighlighter.highlight();'+
				'</scr'+'ipt>'+text;
	};
</script>
