<%- include('module/head') %>

<body class="homebody">
<link href="/layuiUse/css/main.css" rel="stylesheet" type="text/css">
<!--explain-->
<blockquote class="layui-elem-quote button">
	<form class="layui-form">
		<div class="layui-input-inline select">
			<select name="select" lay-verify="">
				<option value="title">标题</option>
				<% if( user._id == 'admin' ){ %>
					<option value="author.name">作者</option>
				<% } %>
				<option value="read">状态</option>
			</select>
		</div> 
		<div class="layui-input-inline search">
			<input type="text" name="search" value="" placeholder="请输入关键字" class="layui-input">
			<i class="layui-icon" id="search">&#xe615;</i>
		</div>
	</form>
    <a class="layui-btn layui-bg-blue" id="ceart_col" href='javascript:;'>添加栏目</a>
    <a class="layui-btn layui-btn-danger" id="deleted" href='javascript:;'>批量删除栏目</a>
</blockquote>

<div class="column">
	<form class="layui-form" action="">
		<table class="layui-table" align="center">
			<colgroup>
			<col width="50">
			<col>
			<col width="100">
			<col width="80">
			<col width="150">
			<col width="160">
			<col>
			</colgroup>
			<thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th style="text-align:left;">文章标题</th>
					<th>发布人</th>
					<th>状态</th>
					<th>创建时间</th>
					<th>操作</th>
				</tr> 
			</thead>
			<tbody>
			</tbody>
		</table>
	</form>
    <div id="demo1" page="<%= post.page %>"></div>
</div>
<%- include('module/column_editor') %>

<script src="/layuiUse/js/column.js"></script>
</body>
</html>
