<%- include('module/head') %>
<style>
body{
	padding:70px 20px 20px;
	background:#f7f7f7;
}
.layui-textarea{
	height:500px;
	background:white;
}
.topbtn{
	width:100%;
	position:fixed;
	border-top:5px solid #009688;
	left:0;
	top:0;
	background:white;
	box-shadow:0 0 8px #ccc;
	z-index:9999999;
}
.topbtn a{
	float:left;
	padding:15px 20px;
	font-size:14px;
	color:#333;
	border-right:1px solid #ccc;
	line-height:16px;
}
.topbtn a i{
	padding-right:10px;
}
</style>

<body>
	<div class="topbtn">
		<a href="/mosc/views?url=<%= url.replace(/^(\/views)/,'').replace(/(\/[\.\w]+)$/,'') %>"><i class="layui-icon">&#xe65a;</i>返回</a>
	</div>
	<form class="layui-form">
		<div class="layui-form-item">
			<input type="text" name="path" value="<%= url %>" class="layui-input" readonly>
		</div>
		<div class="layui-form-item">
			<textarea class="layui-textarea description" name="text"><%= post %></textarea>
		</div>
		<% if(user._id == 'admin' ){ %>
		<div class="layui-form-item tobtn">
			<input class="layui-btn" type="button" value="立即提交">
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
		<% } %>
	</form>
	<script>
		layui.use(['jquery','layer'],function(){
			var $ = layui.jquery;

			<% if(user._id == 'admin' ){ %>
				$('.tobtn input[type=button]').on('click',function(){
					var post = {};
					post.path = $('[name=path]').val();
					post.text = $('[name=text]').val();
					$.post('/mosc/template',post,function(data){
						layer.msg(data.message);
					});
				})
			<% }else{ %>
				$('.description').attr('readonly', true);
			<% } %>
			
		});
	</script>
</body>
</html>
